# Ignore everything...
# except preferences and package list
# *
# !.gitignore
# !Package Control.sublime-settings
# !Preferences.sublime-settings
# !SublimeTmpl.sublime-settings
# !SublimeTmpl/try.tmpl

Package Control.cache/
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.user-ca-bundle
